<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Automation Suite">

    <listeners>
     <listener
      class-name="com.listeners.TestListener"/>
    </listeners>
    <test name="ChromeLoginTest">
        <classes>
            <class name="com.tests.LoginTest"/>
        </classes>
    </test>
    

</suite>
